/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  display: grid;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font-main);
  font-variation-settings: 'wght' var(--font-weight-text);
  background-image: var(--gradient-background);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.border-block {
  width: var(--block-width);
  border: 2px solid var(--color-accent);
  background-color: var(--color-background);
}

.border-image {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.header {
  display: grid;
  margin-inline: auto;
  justify-items: center;
  margin-block-start: 100px;
  margin-block-end: 100px;
  font-family: var(--font-accent);
  width: var(--block-width);
  height: var(--block-height);
  row-gap: 0;
}

.header__title {
  font-size: 49px;
  text-transform: uppercase;
  align-self: end;
}

.header__subtitle {
  margin-block-start: 20px;
  font-size: 14px;
  text-transform: uppercase;
}

.main {
  margin-block-start: 200px;
}


.article {
  margin-block-start: 40px;
  margin-block-end: 50px;
  margin-inline: auto;
}

.article__header {
  font-variation-settings: 'wght' var(--font-weight-header);
  font-size: 18px;
  line-height: 125%;
  margin-inline: 10px;
  margin-block: 5px;
}

.article__label-container {
  font-family: var(--font-accent);
  font-weight: var(--font-weight-text);
  width: 100%;
  aspect-ratio: 1 / 1;
  position: relative;
}

.article__label {
  position: absolute;
  top: 25px;
  right: 25px;
  mix-blend-mode: hard-light;
  opacity: 0.5;
  font-family: var(--font-accent), fantasy;
  font-size: 14px;
  text-shadow: 1px 1px var(--color-label-shadow),
               -1px -1px var(--color-label-shadow),
               1px -1px var(--color-label-shadow),
               -1px 1px var(--color-label-shadow);
  text-transform: uppercase;
}

@supports (-webkit-text-stroke: 1px var(--color-label-shadow)) {
  .article__label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--color-label-shadow);
  }
}

.article__image {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: right;
}

.article__text {
  margin: 25px;
  font-size: 18px;
  line-height: 21px;
}

.article__text:not(:first-of-type) {
  margin-block-start: 0;
}

.button {
  display: inline-block;
  overflow: hidden;
  background: var(--color-background);
  cursor: pointer;
}

.card__like-button {
  position: relative;
  margin-inline-start: auto;
  margin-inline-end: 25px;
  margin-block-end: 25px;
  padding-inline: 35px;
  padding-block: 10px;
  border: 2px solid var(--color-accent);
  font-family: var(--font-accent);
  font-size: 14px;
  
}

.card__like-button:focus {
  outline: none;
  box-shadow: 2px 2px 0 0 var(--color-accent);
  transition: box-shadow 0.3s ease;
}

.card__like-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  inline-size: 100%;
  block-size: 100%;
  background-color: var(--color-accent);
  transform: translate(-100%, -20%);
  transition: transform 0.5s ease-in-out;
}

.card__like-button:hover {
  color: var(--color-background);
}

.card__like-button:hover::before {
  transform: translate(0, 0);
}


.button__text {
  position: relative;
  z-index: 1;
  mix-blend-mode: difference;
  color: var(--color-background);
}

.sparks {
  fill: transparent;
}

.card__icon-button {
  border: none;
  padding: 0;
  margin: 0;
  background: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--color-accent);
  border-radius: 0;
} 